<!-- footer -->
<footer class="mil-dark-bg">
    <div class="mi-invert-fix" style="background-color: black;">
        <div class="container mil-p-120-60">
            <div class="row justify-content-between">
                <div class="col-md-4 col-lg-4 mil-mb-60">

                    <div class="mil-muted mil-logo mil-up mil-mb-30">Dr Rabab Hraimi</div>

                    <p class="mil-light-soft mil-up mil-mb-30">Chirurgien-dentiste à Tunis, Tunisie</p>

                    <form class="mil-subscribe-form mil-up">
                        <input type="text" placeholder="Enter our email">
                        <button type="submit" class="mil-button mil-icon-button-sm mil-arrow-place"></button>
                    </form>

                </div>
                <div class="col-md-7 col-lg-6">
                    <div class="row justify-content-end">
                        <div class="col-md-6 col-lg-7">

                            <nav class="mil-footer-menu mil-mb-60">
                                <ul>
                                    <li class="mil-up mil-active">
                                        <a href="home-1.html">Accueil</a>
                                    </li>
                                    <li class="mil-up">
                                        <a >Galerie</a>
                                    </li>
                                    <li class="mil-up">
                                        <a href="services.html">Services</a>
                                    </li>
                                    <li class="mil-up">
                                        <a href="contact.html">Blog</a>
                                    </li>
                                    <li class="mil-up">
                                        <a href="blog.html">Contact</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                        <div class="col-md-6 col-lg-5">

                            <!-- <ul class="mil-menu-list mil-up mil-mb-60">
                                <li><a href="#." class="mil-light-soft">Politique de confidentialité</a></li>
                                <li><a href="#." class="mil-light-soft">Conditions générales</a></li>
                                <li><a href="#." class="mil-light-soft">Politique de cookies</a></li>
                                <li><a href="#." class="mil-light-soft">Recrutement</a></li>
                            </ul> -->

                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between flex-sm-row-reverse">
                <div class="col-md-7 col-lg-6">

                    <div class="row justify-content-between">

                        <div class="col-md-6 col-lg-5 mil-mb-60">

                            <h6 class="mil-muted mil-up mil-mb-30">Tunis,Tunisie</h6>

                            <p class="mil-light-soft mil-up">Appartement,Hamed Medical, 2
                                Rue Tahar Sfar,
                                Tunis <span class="mil-no-wrap"></span></p>

                        </div>
                        <div class="col-md-6 col-lg-5 mil-mb-60">

                            <h6 class="mil-muted mil-up mil-mb-30">Téléphone</h6>

                            <p class="mil-light-soft mil-up">+216 94 024 060 <span class="mil-no-wrap"></span></p>

                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-lg-6 mil-mb-60">

                    <div class="mil-vert-between">
                        <div class="mil-mb-30">
                            <ul class="mil-social-icons mil-up">
                                <li><a href="#." target="_blank" class="social-icon"> <img src="../../../../../assets/img/contact/fb.png" alt=""></a></li>
                                <li><a href="#." target="_blank" class="social-icon"> <img src="../../../../../assets/img/contact/insta.png" alt=""></a></li>
                                <!-- <li><a href="#." target="_blank" class="social-icon"> <i class="far fa-circle"></i></a></li>
                                <li><a href="#." target="_blank" class="social-icon"> <i class="far fa-circle"></i></a></li> -->
                            </ul>
                        </div>
                        <!-- <p class="mil-light-soft mil-up">© Copyright 2023 - Mil. All Rights Reserved.</p> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->