<div class="dashboard-container">
  <div class="sidebar">
    <div class="sidebar-header">
      <img 
      [src]="getProfilePictureUrl()" 
      alt="Photo de profil" 
      class="avatar" 
    />      <h2>{{ userData.firstname }} {{ userData.name }}</h2>
    </div>
    

    <ul class="sidebar-nav">
      <li routerLink="/dashboard-secretaire/statistique" routerLinkActive="active">
        <span class="icon">📊 </span>
        <span class="menu-text">Statistiques</span>
      </li>
      <li routerLink="/dashboard-secretaire/rendez-vous" routerLinkActive="active">
        <span class="icon">📅</span>
        <span class="menu-text">Gérer les Rendez-vous</span>
      </li>
      <li routerLink="/dashboard-secretaire/accueil-patients" routerLinkActive="active">
        <span class="icon">🧑‍🤝‍🧑</span>
        <span class="menu-text">Accueil des Patients</span>
      </li>
      <li routerLink="/dashboard-secretaire/availability" routerLinkActive="active">
        <span class="icon">📆</span>
        <span class="menu-text">Disponibilités</span>
      </li>
      <li routerLink="/dashboard-secretaire/history-global" routerLinkActive="active">
        <span class="icon">📜</span>
        <span class="menu-text">Historique</span>
      </li>
        <!-- 🎯 Nouveau lien Témoignages -->
  <li routerLink="/dashboard-secretaire/temoignages" routerLinkActive="active">
    <span class="icon">💬</span>
    <span class="menu-text">Témoignages</span>
  </li>
      <li routerLink="/dashboard-secretaire/mon-profil" routerLinkActive="active">
        <span class="icon">👤</span>
        <span class="menu-text">Mon Profil</span>
      </li>
      
    </ul>

    <div class="logout-section">
      <li (click)="onLogout()" title="Déconnexion">
        <span class="icon">🔓</span>
        <span class="menu-text">Se déconnecter</span>
      </li>
    </div>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
