<section class="hero-banner">
  <!-- ✅ Vidéo en arrière-plan -->
  <video autoplay muted loop playsinline class="bg-video">
    <source src="../../../../../assets/vd/1.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        <strong>Bienvenue </strong> <span>sur le site </span><br />
        de<strong> Dr Rabab Hraimi</strong><br />
      </h1>

      <p class="hero-subtitle">
        <span>
          Dr Rabab Hraimi, chirurgien-dentiste à Tunis, propose des soins
          modernes et personnalisés en implantologie, esthétique et santé
          bucco-dentaire, dans une approche humaine .
        </span>
      </p>

      <div class="hero-buttons">
        <a routerLink="/main/contact" class="hero-btn primary">
          <span class="label">PRENDRE UN RENDEZ-VOUS</span>
          <span class="icon">→</span>
        </a>
        <a routerLink="/main/services" class="hero-btn secondary">
          <span class="label">NOS SERVICES</span>
          <span class="icon">→</span>
        </a>
      </div>
    </div>
  </div>
</section>
