    <!-- wrapper -->
    <div class="mil-wrapper" id="top">

        <!-- cursor -->
        <app-cursor></app-cursor>
        <!-- cursor end -->

        

        <!-- scrollbar progress -->
        <app-scrollbar></app-scrollbar>
        <!-- scrollbar progress end -->

        <!-- menu -->
        <app-menu></app-menu>
        <!-- menu -->

        <!-- curtain -->
        <app-curtain></app-curtain>
        <!-- curtain end -->

        <!-- frame -->
        <app-frame></app-frame>
        <!-- frame end -->

        <!-- content -->
        <div class="mil-content">
            <div  class="mil-main-transition">

                <!-- portfolio -->
                 <app-port3></app-port3>
                <!-- portfolio end -->

                <!-- hidden elements -->
                <app-hidden-elements></app-hidden-elements>
                <!-- hidden elements end -->

            </div>
        </div>
        <!-- content -->
    </div>
    <!-- wrapper end -->

