<section>
  <div class="container mil-p-120-90">
    <div class="row align-items-center mil-mb-30">
      <div class="col-lg-6 mil-mb-30">
        <h3 class="mil-up">Expérience professionnelle de Dr&nbsp;Rabab&nbsp;Hraimi</h3>
      </div>
    </div>

    <div class="row mil-equal-height">
      <div class="col-lg-4" *ngFor="let exp of experiences">
        <div class="mil-service-card-lg mil-other-card mil-hover-parent">
          <div>
            <h4 class="mil-up mil-mb-30">{{ exp.title }}</h4>
            <p>
              {{ exp.institution }}, {{ exp.location }}<br />
              {{ formatDate(exp.start_date) }} – {{ formatDate(exp.end_date) }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
