<!-- other services -->
<section>
    <div class="container mil-p-120-90">
      <div class="row align-items-center mil-mb-30">
        <div class="col-lg-6 mil-mb-30">
          <h3 class="mil-up">
            Expérience professionnelle de Dr. Rabeb Hraimi
          </h3>
        </div>
        
      </div>
  
      <div class="row mil-equal-height">
        <!-- Carte 1 -->
        <div class="col-lg-4">
          <a href="service.html" class="mil-service-card-lg mil-other-card mil-more mil-mb-30">
            <h4 class="mil-up mil-mb-30">Propriétaire de Clinique Privée<br />Medenine | 11/2011- Présent</h4>
            <p class="mil-descr mil-up mil-mb-30">
              Dr. Rabeb Hraimi dirige sa propre clinique dentaire, offrant des soins personnalisés en implantologie,
              esthétique dentaire, orthodontie, et plus encore.
            </p>
          </a>
        </div>
  
        <!-- Carte 2 -->
        <div class="col-lg-4">
          <a href="service.html" class="mil-service-card-lg mil-other-card mil-more mil-mb-30">
            <h4 class="mil-up mil-mb-30">Stages hospitaliers spécialisés Interne<br />en Médecine Dentaire</h4>
            <p class="mil-descr mil-up mil-mb-30">Hôpital Charles Nicole, Tunis</p>
            
          </a>
        </div>
  
        <!-- Carte 3 -->
        <div class="col-lg-4">
          <a href="service.html" class="mil-service-card-lg mil-other-card mil-more mil-mb-30">
            <h4 class="mil-up mil-mb-30">Service de Chirurgie<br />Maxillo-Faciale</h4>
            <p class="mil-descr mil-up mil-mb-30">Hôpital Sahloul, Sousse</p>
            
          </a>
        </div>
  
        <!-- Carte 4 -->
        <div class="col-lg-4">
          <a href="service.html" class="mil-service-card-lg mil-other-card mil-more mil-mb-30">
            <h4 class="mil-up mil-mb-30">Département de<br />Dermatologie</h4>
            <p class="mil-descr mil-up mil-mb-30">Hôpital Farhat Hached, Sousse</p>
           
          </a>
        </div>
  
        <!-- Carte 5 -->
        <div class="col-lg-4">
          <a href="service.html" class="mil-service-card-lg mil-other-card mil-more mil-mb-30">
            <h4 class="mil-up mil-mb-30">Clinique Dentaire<br />Universitaire</h4>
            <p class="mil-descr mil-up mil-mb-30">Faculté de Médecine Dentaire, Monastir</p>
            
          </a>
        </div>
      </div>
    </div>
  </section>
  