<!-- services -->
<section id="services">
    <div class="mi-invert-fix">
        <div class="container mil-p-120-60">
            <div class="row">
                <div class="col-lg-5">

                    <div class="mil-lines-place mil-light"></div>

                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <a href="service.html" class="mil-service-card-lg mil-more mil-accent-cursor mil-offset">
                                <h4 class="mil-muted mil-up mil-mb-30">Branding and <br>Identity Design</h4>
                                <p class="mil-descr mil-light-soft mil-up mil-mb-30">Our creative agency is a team of professionals focused on helping your brand grow.</p>
                                <ul class="mil-service-list mil-light mil-mb-30">
                                    <li class="mil-up">UX Audits</li>
                                    <li class="mil-up">Design thinking</li>
                                    <li class="mil-up">Methodologies</li>
                                    <li class="mil-up">Wireframing</li>
                                </ul>
                                <div class="mil-link mil-accent mil-arrow-place mil-up">
                                    <span>Read more</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <a href="service.html" class="mil-service-card-lg mil-more mil-accent-cursor">
                                <h4 class="mil-muted mil-up mil-mb-30">Website Design <br>and Development</h4>
                                <p class="mil-descr mil-light-soft mil-up mil-mb-30">Our creative agency is a team of professionals focused on helping your brand grow.</p>
                                <ul class="mil-service-list mil-light mil-mb-30">
                                    <li class="mil-up">UX Audits</li>
                                    <li class="mil-up">Design thinking</li>
                                    <li class="mil-up">Methodologies</li>
                                    <li class="mil-up">Wireframing</li>
                                </ul>
                                <div class="mil-link mil-accent mil-arrow-place mil-up">
                                    <span>Read more</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <a href="service.html" class="mil-service-card-lg mil-more mil-accent-cursor mil-offset">
                                <h4 class="mil-muted mil-up mil-mb-30">Advertising and <br>Marketing Campaigns</h4>
                                <p class="mil-descr mil-light-soft mil-up mil-mb-30">Our creative agency is a team of professionals focused on helping your brand grow.</p>
                                <ul class="mil-service-list mil-light mil-mb-30">
                                    <li class="mil-up">UX Audits</li>
                                    <li class="mil-up">Design thinking</li>
                                    <li class="mil-up">Methodologies</li>
                                    <li class="mil-up">Wireframing</li>
                                </ul>
                                <div class="mil-link mil-accent mil-arrow-place mil-up">
                                    <span>Read more</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <a href="service.html" class="mil-service-card-lg mil-more mil-accent-cursor">
                                <h4 class="mil-muted mil-up mil-mb-30">Creative Consulting <br>Concept Development</h4>
                                <p class="mil-descr mil-light-soft mil-up mil-mb-30">Our creative agency is a team of professionals focused on helping your brand grow.</p>
                                <ul class="mil-service-list mil-light mil-mb-30">
                                    <li class="mil-up">UX Audits</li>
                                    <li class="mil-up">Design thinking</li>
                                    <li class="mil-up">Methodologies</li>
                                    <li class="mil-up">Wireframing</li>
                                </ul>
                                <div class="mil-link mil-accent mil-arrow-place mil-up">
                                    <span>Read more</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services end -->