<div class="welcome-banner">
  <h2>👋 Bienvenue, {{ userName }} !</h2>
  <p>Voici un aperçu global des statistiques d’aujourd’hui.</p>
</div>

<div class="stats-container">
  <div class="stat-card bg-primary text-white">
    <h5>Patients</h5>
    <p>{{ stats.totalPatients }}</p>
  </div>

  <div class="stat-card bg-success text-white">
    <h5>Rendez-vous</h5>
    <p>{{ stats.totalRendezVous }}</p>
  </div>

  <div class="stat-card bg-info text-white">
    <h5>Disponibilités</h5>
    <p>{{ stats.totalDisponibilites }}</p>
  </div>

  <div class="stat-card bg-warning text-white">
    <h5>Annulations</h5>
    <p>{{ stats.totalAnnulations }}</p>
  </div>

  <div class="stat-card bg-danger text-white">
    <h5>Urgences</h5>
    <p>{{ stats.totalUrgences }}</p>
  </div>
</div>

<!-- Chart -->
<div class="chart-wrapper" *ngIf="chartOptions">
  <apx-chart 
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [labels]="chartOptions.labels"
  [colors]="chartOptions.colors"
  [fill]="chartOptions.fill"
  [legend]="chartOptions.legend"
  [theme]="chartOptions.theme"
  [responsive]="chartOptions.responsive">
</apx-chart>


</div>
