<!-- blog -->
<section>
  <div class="container mil-p-120-120">
    <div class="row align-items-center mil-mb-30">
      <div class="col-lg-4 mil-mb-30">
        <h3 class="mil-up">Categories:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <a
          routerLink="/main/implant-dentaire"
          class="mil-blog-card mil-blog-card-hori mil-more mil-mb-60"
        >
          <div class="mil-cover-frame mil-up">
            <img src="../../../../../assets/img/2.png" alt="cover" />
          </div>
          <div class="mil-post-descr">
            <h4 class="mil-up mil-mb-30">Les dents naturelles</h4>
            <p class="mil-post-text mil-up mil-mb-30">
              Aujourd’hui, les soins dentaires évoluent rapidement : implants,
              facettes, bridges… Mais.malgré toutes les technologies
              disponibles, aucune solution artificielle...
            </p>
            <div class="mil-link mil-dark mil-arrow-place mil-up">
              <span routerLink="/main/implant-dentaire">Voir plus</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-12">
        <a
          routerLink="/main/prevention-dentaire"
          class="mil-blog-card mil-blog-card-hori mil-more mil-mb-60"
        >
          <div class="mil-cover-frame mil-up">
            <img src="../../../../../assets/img/blog/maladie.png" alt="cover" />
          </div>
          <div class="mil-post-descr">
            <h4 class="mil-up mil-mb-30">
              L'importance de la Prévention Dentaire
            </h4>
            <p class="mil-post-text mil-up mil-mb-30">
              Si la clé de votre santé bucco-dentaire ne résidait pas seulement
              dans les traitements chez le dentiste, mais dans votre quotidien
              ...
            </p>
            <div class="mil-link mil-dark mil-arrow-place mil-up">
              <span routerLink="/main/prevention-dentaire">Voir plus</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-12">
        <a
          routerLink="/main/detartrage"
          class="mil-blog-card mil-blog-card-hori mil-more mil-mb-60"
        >
          <div class="mil-cover-frame mil-up">
            <img
              src="../../../../../assets/img/blog/detartrageGR.png"
              alt="cover"
            />
          </div>
          <div class="mil-post-descr">
            <h4 class="mil-up mil-mb-30">Les Bienfaits du Détartrage</h4>
            <p class="mil-post-text mil-up mil-mb-30">
              Saviez-vous que même si vous vous brossez les dents régulièrement,
              vous ne pouvez pas atteindre toutes les zones de votre bouche ?...
            </p>
            <div class="mil-link mil-dark mil-arrow-place mil-up">
              <span routerLink="/main/detartrage">Voir plus</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-12">
        <a
          routerLink="/main/blanchiment"
          class="mil-blog-card mil-blog-card-hori mil-more mil-mb-60"
        >
          <div class="mil-cover-frame mil-up">
            <img src="../../../../../assets/img/blanchimantG.png" alt="cover" />
          </div>
          <div class="mil-post-descr">
            <h4 class="mil-up mil-mb-30">Le Blanchiment Dentaire</h4>
            <p class="mil-post-text mil-up mil-mb-30">
              Vous êtes-vous déjà demandé si l'éclaircissement dentaire était
              vraiment sans danger ? Vous avez probablement vu des publicités..
            </p>
            <div class="mil-link mil-dark mil-arrow-place mil-up">
              <span routerLink="/main/blanchiment">Voir plus</span>
            </div>
          </div>
        </a>
      </div>

      <!--  <div class="col-lg-12">
                <div class="mil-pagination">
                    <a routerLink="/blog-inner" class="mil-pagination-btn mil-active">1</a>
                    <a routerLink="/blog-inner" class="mil-pagination-btn">2</a>
                    <a routerLink="/blog-inner" class="mil-pagination-btn">3</a>
                    <a routerLink="/blog-inner" class="mil-pagination-btn">4</a>
                    <a routerLink="/blog-inner" class="mil-pagination-btn">5</a>
                </div>
            </div> -->
    </div>
  </div>
</section>
