<!-- banner -->
<div class="mil-dark-bg">
    <div class="mil-inner-banner">
        <div class="mi-invert-fix">
            <div class="mil-banner-content mil-up">
                <div class="mil-animation-frame">
                    <div class="mil-animation mil-position-4 mil-scale" data-value-1="6" data-value-2="1.4"></div>
                </div>
                <div class="container">
                    <ul class="mil-breadcrumbs mil-light mil-mb-60">
                        <li><a href="home-1.html">Homepage</a></li>
                        <li><a href="services.html">Services</a></li>
                    </ul>
                    <h1 class="mil-muted mil-mb-60">This is <span class="mil-thin">what</span><br> we do <span class="mil-thin">best</span></h1>
                    <a href="#services" class="mil-link mil-accent mil-arrow-place mil-down-arrow">
                        <span>Our services</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->