<!-- banner -->
<div class="mil-inner-banner">
   
    <div class="mil-banner-content mil-center mil-up">
        <div class="container">
            <ul class="mil-breadcrumbs mil-center mil-mb-60">
                <li><a routerLink="/" routerLinkActive="active">Homepage</a></li>
                <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
                <li><a routerLink="/publication" routerLinkActive="active">Publication</a></li>
            </ul>
            <h2>Rien ne remplace les dents naturelles <span class="mil-thin">Pourquoi il faut les protéger à tout prix</span></h2>
        </div>
    </div>
</div>
<!-- banner end -->
