<!-- about -->
<section>
  <div class="container mil-p-120-30">
    <div class="row justify-content-between align-items-center" id="about">
      <div class="col-lg-6 col-xl-5">
        <div class="mil-mb-90">
          <h2 class="mil-up mil-mb-60">
            À propos de <span class="mil-thin">moi</span>
          </h2>
          <p class="mil-up mil-mb-30">
            Je suis le Dr Rabeb Hraimi — dentiste experte en santé
            bucco-dentaire, entrepreneure et visionnaire engagée dans une
            approche moderne, responsable et consciente de la dentisterie
            esthétique et fonctionnelle. Forte de plus de 14 ans d’expérience en
            implantologie dentaire, soins esthétiques, et prévention,
            j’accompagne mes patients à retrouver des sourires sains,
            fonctionnels et profondément en harmonie avec leur véritable nature.
          </p>

          <p class="mil-up mil-mb-60">
            Ma vision dépasse les frontières : je bâtis une pratique dentaire
            innovante, alliant innovation digitale en santé dentaire, bien-être
            global et ouverture internationale. Pour moi, chaque sourire est une
            alchimie unique entre précision clinique, esthétique dentaire
            naturelle et transformation intérieure.
          </p>
          <p class="mil-up mil-mb-60">
            Bienvenue dans mon univers — là où la dentisterie rencontre l’âme,
            la science et une vision sans frontières.
          </p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="mil-about-photo mil-mb-90">
          <div class="mil-lines-place"></div>
          <div class="mil-up mil-img-frame" style="padding-bottom: 160%">
            <img
              src="../../../../../assets/img/image.png"
              alt="img"
              class="mil-scale"
              data-value-1="1"
              data-value-2="1.2"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about end -->
