<!-- about -->
<section >
    <div class="container mil-p-120-30" >
        <div class="row justify-content-between align-items-center" id="about">
            <div class="col-lg-6 col-xl-5">

                <div class="mil-mb-90">
                    <h2 class="mil-up mil-mb-60"> À propos de Dr. Rabab  <span class="mil-thin">Hraimi</span></h2>
                    <p class="mil-up mil-mb-30">Le Dr Rabab Hraimi, chirurgien-dentiste à Tunis, 
                        est reconnue pour son approche douce, attentive et son expertise. 
                        Diplômée de la Faculté de Médecine Dentaire de Monastir,
                         elle cumule plus de 11 ans d’expérience en soins dentaires, 
                         chirurgie orale et esthétique.  </p>

                    <p class="mil-up mil-mb-60">Formée en implantologie, 
                         orthodontie et dentisterie esthétique, 
                        elle propose des traitements de qualité 
                        dans un cadre professionnel et humain.</p>
                        

                    
                </div>

            </div>
            <div class="col-lg-5">

                <div class="mil-about-photo mil-mb-90">
                    <div class="mil-lines-place"></div>
                    <div class="mil-up mil-img-frame" style="padding-bottom: 160%;">
                        <img src="../../../../../assets/img/image.png" alt="img" class="mil-scale" data-value-1="1" data-value-2="1.2">
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</section>
<!-- about end -->