<!-- about -->
<section id="about">
    <div class="container mil-p-120-30">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-xl-5">

                <div class="mil-mb-90">
                    <h2 class="mil-up mil-mb-60"> À propos de Dr. Rabeb Hraimi </h2>
                    <p class="mil-up mil-mb-30">Dr. Rabeb Hraimi est une
                        dentiste réputée et
                        spécialisée à Medenine, en
                        Tunisie, reconnue pour son
                        approche douce, attentive et
                        professionnelle envers
                        chaque patient. Diplômée
                        de la Faculté de Médecine
                        Dentaire de Monastir, elle
                        cumule plus de 11 ans
                        d’expérience en soins
                        dentaires, esthétique et
                        chirurgie orale. </p>

                    <p class="mil-up mil-mb-60">Passionnée
                        par son métier, elle a enrichi
                        son expertise grâce à
                        plusieurs formations
                        spécialisées, lui permettant
                        de proposer des soins de
                        haute qualité en
                        implantologie, esthétique
                        dentaire et orthodontie,toujours avec un
                        professionnalisme
                        exemplaire.</p>

                    
                </div>

            </div>
            <div class="col-lg-5">

                <div class="mil-about-photo mil-mb-90">
                    <div class="mil-lines-place"></div>
                    <div class="mil-up mil-img-frame" style="padding-bottom: 160%;">
                        <img src="../../../../../assets/img/image.png" alt="img" class="mil-scale" data-value-1="1" data-value-2="1.2">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- about end -->