<!-- services -->
<section id="services" style="background-color: black;">
    <div class="mi-invert-fix">
        <div class="container mil-p-120-60">
            <div class="row">
                <div class="col-lg-5">

                    <div class="mil-lines-place mil-light">
                        <div class="animated-container">
                            <div class="line"></div> <!-- Ligne centrale -->

                            <div class="square" id="premier"></div> <!-- Carré 1 (fixe) -->
                            <div class="square half-circle top animated"></div> <!-- Carré 2 (animé) -->
                            <div class="square full-circle animated"></div> <!-- Carré 3 (animé) -->
                            <div class="square half-circle bottom animated"></div> <!-- Carré 4 (animé) -->
                            <div class="square full-circle animated"></div> <!-- Carré 5 (animé) -->
                            <div class="square extension animated"></div> <!-- Carré 6 (animé) -->
                            
                        </div>
                    </div>

                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <a href="service.html" class="mil-service-card-lg mil-more mil-accent-cursor mil-offset">
                                <h4 class="mil-muted mil-up mil-mb-30">Implants  <br>dentaires </h4>
                                <p class="mil-descr mil-light-soft mil-up mil-mb-30">Remplacez une ou
                                    plusieurs dents manquantes
                                    grâce à une solution durable
                                    et esthétique.
                                    </p>
                                
                                <div class="mil-link mil-accent mil-arrow-place mil-up">
                                    <span>Read more</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <a href="service.html" class="mil-service-card-lg mil-more mil-accent-cursor">
                                <h4 class="mil-muted mil-up mil-mb-30">Blanchiment   <br>des dents</h4>
                                <p class="mil-descr mil-light-soft mil-up mil-mb-30">Sourire éclatant avec des techniques professionnelles,
                                    sûres et efficaces.</p>
                                
                                <div class="mil-link mil-accent mil-arrow-place mil-up">
                                    <span>Read more</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <a href="service.html" class="mil-service-card-lg mil-more mil-accent-cursor mil-offset">
                                <h4 class="mil-muted mil-up mil-mb-30">Détartrage &  <br>nettoyage</h4>
                                <p class="mil-descr mil-light-soft mil-up mil-mb-30">Indispensable pour prévenircaries et maladies des gencives.</p>
                                
                                <div class="mil-link mil-accent mil-arrow-place mil-up">
                                    <span>Read more</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <a href="service.html" class="mil-service-card-lg mil-more mil-accent-cursor">
                                <h4 class="mil-muted mil-up mil-mb-30">Orthodontie adulte<br> & enfant </h4>
                                <p class="mil-descr mil-light-soft mil-up mil-mb-30">Appareils discrets pour
                                    corriger l’alignement
                                    dentaire à tout âge.
                                    </p>
                                
                                <div class="mil-link mil-accent mil-arrow-place mil-up">
                                    <span>Read more</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <a href="service.html" class="mil-service-card-lg mil-more mil-accent-cursor mil-offset">
                                <h4 class="mil-muted mil-up mil-mb-30">Soins   <br>esthétiques </h4>
                                <p class="mil-descr mil-light-soft mil-up mil-mb-30">Facettes, composites,
                                    remodelage pour un sourire
                                    naturel.
                                    </p>
                                
                                <div class="mil-link mil-accent mil-arrow-place mil-up">
                                    <span>Read more</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <a href="service.html" class="mil-service-card-lg mil-more mil-accent-cursor">
                                <h4 class="mil-muted mil-up mil-mb-30">Soins conservateurs<br>(caries, plombages)</h4>
                                <p class="mil-descr mil-light-soft mil-up mil-mb-30">Sourire éclatant avec des techniques professionnelles,
                                    sûres et efficaces.</p>
                                
                                <div class="mil-link mil-accent mil-arrow-place mil-up">
                                    <span>Read more</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services end -->