<!-- banner -->
<div class="mil-inner-banner">
  <div class="mil-banner-content mil-center mil-up">
    <div class="container">
      <ul class="mil-breadcrumbs mil-center mil-mb-60">
        <li><a routerLink="/main" routerLinkActive="active">Accueil</a></li>
        <li><a routerLink="/main/blog" routerLinkActive="active">Blog</a></li>
        <li>
          <a routerLink="/main/prevention-dentaire" routerLinkActive="active"
            >Publication</a
          >
        </li>
      </ul>
      <h2>
        L'Importance de la Prévention Dentaire :<span class="mil-thin"
          >Comment éviter les caries et maladies des gencives ?
        </span>
      </h2>
    </div>
  </div>
</div>
<!-- banner end -->
