.mil-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid transparent;
  cursor: pointer;
  transition: transform 0.3s ease, border 0.3s ease;
}

.mil-avatar:hover {
  transform: scale(1.1);
}

.swiper-pagination-bullet.active {
  border-color: #f90; /* Cercle orange pour avatar actif */
}

/* SLIDER (TÉMOIGNAGES) */
.swiper-slide {
  display: none;
}

.swiper-slide.active {
  display: block;
}

/* FLÈCHES DE NAVIGATION */
.mil-slider-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.mil-slider-arrow {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.container-avatar{
    display: flex;
    align-items: center;
margin-left: 25%;
margin-top: 13%;
margin-bottom: 10px;
}

.mil-slider-arrow:hover {
  background-color: #f90;
  color: #fff;
  transform: scale(1.1);
}

/* DÉPLACEMENT DES AVATARS */
.mil-review-frame {
  margin-top: 30px; /* Plus d'espace entre les avatars et le texte */
}
.mil-revi-pagination {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  gap: 15px; /* Espacement entre les avatars */
  margin-bottom: 40px;
}
