<!-- wrapper -->

<!-- content -->
<div class="mil-content">
  <div id="swupMain" class="mil-main-transition">
    <!-- banner -->
    <app-banner2></app-banner2>
    <!-- banner end -->

    <!-- service -->
    <app-service22></app-service22>
    <!-- service end -->

    <!-- other services -->
    <app-other-service></app-other-service>
    <!-- other services end -->

    <!-- footer -->
    <app-footer></app-footer>
    <!-- footer end -->

    <!-- hidden elements -->
    <app-hidden-elements></app-hidden-elements>
    <!-- hidden elements end -->
  </div>
</div>
<!-- content -->
<!-- wrapper end -->
