    <!-- wrapper -->
    <div class="mil-wrapper" id="top">

        <!-- cursor -->
        <app-cursor></app-cursor>
        <!-- cursor end -->

        <!-- preloader -->
        <!-- preloader end -->

        <!-- scrollbar progress -->
        <app-scrollbar></app-scrollbar>
        <!-- scrollbar progress end -->

        <!-- menu -->
         
        <!-- menu -->

        <!-- curtain -->
        <app-curtain></app-curtain>
        <!-- curtain end -->

        <!-- frame -->
         
        <!-- frame end -->

        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <app-bannerp4></app-bannerp4>
                <!-- banner end -->

                <!-- project -->
                <app-project-p4></app-project-p4>
                <!-- project end -->

                <!-- call to action -->
                <app-call-to-action-p4></app-call-to-action-p4>
                <!-- call to action end -->

               <!-- footer -->
               <app-footer></app-footer>
               <!-- footer end -->

               <!-- hidden elements -->
               <app-hidden-elements></app-hidden-elements>
               <!-- hidden elements end -->

           </div>
       </div>
       <!-- content -->
   </div>
<!-- wrapper end -->