<!-- banner -->
<div class="mil-inner-banner mil-p-0-120">
    <div class="mil-banner-content mil-up">
        <div class="mil-animation-frame">
            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
        </div>
        <div class="container">
            <ul class="mil-breadcrumbs mil-mb-60">
                <li><a href="home-1.html">Homepage</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="blog-inner.html">Category page</a></li>
            </ul>
            <h1 class="mil-mb-60">Publications <br>Category <span class="mil-thin">Name</span></h1>
            <a href="#blog" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                <span>Publications</span>
            </a>
        </div>
    </div>
</div>
<!-- banner end -->