<!-- banner -->
<div class="mil-inner-banner mil-p-0-120">
    <div class="mil-banner-content mil-up">
        <div class="mil-animation-frame">
            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
        </div>
        <div class="container">
            <ul class="mil-breadcrumbs mil-mb-60">
                <li><a routerLink="/">Homepage</a></li>
                <li><a routerLink="/blog">Blog</a></li>
            </ul>
            <h1 class="mil-mb-60">Exploring <span class="mil-thin">the World</span> <br> Through Our <span class="mil-thin">Blog</span></h1>
            <a routerLink="#blog" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                <span>Publications</span>
            </a>
        </div>
    </div>
</div>
<!-- banner end -->