<!-- banner -->
<div class="mil-inner-banner mil-p-0-120">
    
    <div class="mil-banner-content mil-up">
        <div class="mil-animation-frame">
            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
        </div>
        <div class="container">
            <ul class="mil-breadcrumbs mil-mb-60">
                <li><a routerLink="/main">Acceuil</a></li>
                <li><a routerLink="/main/blog">Blog</a></li>
            </ul>
            <h1 class="mil-mb-60">Découvrez     <span class="mil-thin">l’univers dentaire</span> <br>  à travers <span class="mil-thin">notre blog</span></h1>
            <a routerLink="#blog" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                <span></span>
            </a>
        </div>
    </div>
</div>
<!-- banner end -->