<!-- wrapper -->
<div class="mil-wrapper" id="top">
  <app-cursor></app-cursor>

  <app-scrollbar></app-scrollbar>

  <app-curtain></app-curtain>

  <div class="mil-content">
    <div id="swupMain" class="mil-main-transition">
      <!-- banner -->
      <app-banner></app-banner>

      <app-servicee></app-servicee>

      <app-call-to-action1></app-call-to-action1>
      <!-- call to action end -->

      <!-- footer -->
      <app-footer></app-footer>
      <!-- footer end -->

      <!-- hidden elements -->
      <app-hidden-elements></app-hidden-elements>
      <!-- hidden elements end -->
    </div>
  </div>
  <!-- content -->
</div>
<!-- wrapper end -->
