   <!-- wrapper -->
    <div class="mil-wrapper" id="top">
        
        <div class="vertical-site-label">Blog</div>

        <!-- cursor -->
        <app-cursor></app-cursor>
        <!-- cursor end -->

        <!-- preloader -->
        <!-- preloader end -->

        <!-- scrollbar progress -->
        <app-scrollbar></app-scrollbar>
        <!-- scrollbar progress end -->

        <!-- menu -->
         
        <!-- menu -->

        <!-- curtain -->
         <app-curtain></app-curtain>
        <!-- curtain end -->

        <!-- frame -->
         
        <!-- frame end -->

        <!-- content -->
        <div class="mil-content">
            <div  class="mil-main-transition">

                <!-- banner -->
                <app-banner-1></app-banner-1>
                <!-- banner end -->

                <!-- popular -->
                <!-- <app-popular></app-popular> -->
                <!-- popular end -->
                 <!-- similar -->
                  <app-similar></app-similar>
                  <!-- similar end -->
                <!-- blog -->
                <app-blog1></app-blog1>
                <!-- blog end -->

                <!-- call to action -->
                <app-call-to-action></app-call-to-action>
                <!-- call to action end -->

                <!-- footer -->
                <app-footer></app-footer>
                <!-- footer end -->

                <!-- hidden elements -->
                <app-hidden-elements></app-hidden-elements>
                <!-- hidden elements end -->

            </div>
        </div>
        <!-- content -->
    </div>
    <!-- wrapper end -->
