.vertical-site-label {
    position: fixed;
    top: 50%;
    left: 0;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: left top;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #999;
    text-transform: uppercase;
    z-index: 9999;
    padding-left: 12px;
    font-family: 'Segoe UI', sans-serif;
    pointer-events: none; 
    margin-left: 50px;
    margin-top: 350px;
  }
  