<!-- wrapper -->
<div class="mil-wrapper" id="top">
  <div class="vertical-site-label">Blog</div>

  <app-cursor></app-cursor>
  <app-scrollbar></app-scrollbar>
  <app-curtain></app-curtain>

  <div class="mil-content">
    <div class="mil-main-transition">
      <app-banner-1></app-banner-1>
      <app-similar></app-similar>
      <app-blog1></app-blog1>

      <app-call-to-action></app-call-to-action>

      <app-footer></app-footer>
      <app-hidden-elements></app-hidden-elements>
    </div>
  </div>
</div>
