   <!-- wrapper -->
    <div class="mil-wrapper" id="top">

        <!-- cursor -->
        <app-cursor></app-cursor>
        <!-- cursor end -->

        <!-- preloader -->
        <app-preloader></app-preloader>
        <!-- preloader end -->

        <!-- scrollbar progress -->
        <app-scrollbar></app-scrollbar>
        <!-- scrollbar progress end -->

        <!-- menu -->
        <app-menu></app-menu>
        <!-- menu -->

        <!-- curtain -->
         <app-curtain></app-curtain>
        <!-- curtain end -->

        <!-- frame -->
        <app-frame></app-frame>
        <!-- frame end -->

        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <app-banner-1></app-banner-1>
                <!-- banner end -->

                <!-- popular -->
                <app-popular></app-popular>
                <!-- popular end -->

                <!-- blog -->
                <app-blog></app-blog>
                <!-- blog end -->

                <!-- call to action -->
                <app-call-to-action></app-call-to-action>
                <!-- call to action end -->

                <!-- footer -->
                <app-footer></app-footer>
                <!-- footer end -->

                <!-- hidden elements -->
                <app-hidden-elements></app-hidden-elements>
                <!-- hidden elements end -->

            </div>
        </div>
        <!-- content -->
    </div>
    <!-- wrapper end -->
