<!-- awards (statique) -->
<section id="portfolio">
  <div class="container mil-portfolio mil-p-120-60">
    <div class="mil-lines-place"></div>
    <div class="mil-lines-place mil-lines-long"></div>

    <div class="row justify-content-between align-items-center">
      <!-- GRILLE FIXE DE RÉCOMPENSES -->
      <!-- Récompense 1 -->
      <div class="col-lg-6">
        <a
          routerLink="/project-1"
          class="mil-portfolio-item mil-more mil-mb-60"
          defer
        >
          <div class="mil-cover-frame mil-vert mil-up">
            <div class="mil-cover">
              <img src="assets/img/récompenses/recomp1.png" alt="cover" />
            </div>
          </div>
          <div class="mil-descr">
            <h4 class="mil-up">
              Plus de 14 ans de pratique privée dans sa clinique à Tunis
            </h4>
          </div>
        </a>
      </div>
      <!-- Récompense 2 -->
      <div class="col-lg-6 col-md-6">
        <div
          class="mil-portfolio-item mil-more mil-parallax mil-mb-60 mil-hover-parent"
        >
          <div class="mil-cover-frame mil-hori mil-up">
            <div class="mil-cover mil-up">
              <img
                src="assets/img/récompenses/recomp2.png"
                alt="Expertise validée"
              />
            </div>
          </div>
          <div class="mil-descr">
            <h4 class="mil-up">
              Elle exerce depuis 2012, avec une expertise reconnue en
              implantologie et esthétique dentaire.
            </h4>
          </div>
        </div>
      </div>

      <!-- Récompense 3 -->
      <div class="col-lg-6 col-md-6">
        <div
          class="mil-portfolio-item mil-more mil-parallax mil-mb-60 mil-hover-parent"
        >
          <div class="mil-cover-frame mil-hori mil-up">
            <div class="mil-cover mil-up">
              <img
                src="assets/img/récompenses/recomp3.png"
                alt="workshops internationaux"
              />
            </div>
          </div>
          <div class="mil-descr">
            <h4 class="mil-up">
              Sa participation à des workshops internationaux (France, Italie,
              Suisse)
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- awards end -->
