.mil-main-menu .mil-submenu {
    display: none;
    margin-top: 10px;
    padding-left: 15px;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.mil-main-menu .mil-submenu.mil-active {
    display: block;
    opacity: 1;
}
.mil-menu-frame.mil-active {
    display: block !important;
    opacity: 1;
    visibility: visible;
}
.mil-logo img {
    height: 40px;
    max-width: 100%;
    object-fit: contain;
  }
/* Réduction de taille du logo sur les petits écrans */
@media (max-width: 576px) {
  .hero-logo img {
    width: 70px; /* ou la taille que tu veux, par exemple 100px */
    height: 80px;
    margin-left: -15px;

  }
}
.mil-back-to-top .mil-link {
  color: #000; /* Noir par défaut (sur fond clair) */
  transition: color 0.3s ease;
}

.mil-back-to-top.dark-bg .mil-link {
  color: #fff; /* Blanc quand scrollé */
}



  /*
    .mil-back-to-top a {
  color: #fff; 
  background-color: #ff9900; 
  padding: 8px 14px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.mil-back-to-top a:hover {
  background-color: #e58200;
}
*/