.mil-main-menu .mil-submenu {
    display: none;
    margin-top: 10px;
    padding-left: 15px;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.mil-main-menu .mil-submenu.mil-active {
    display: block;
    opacity: 1;
}
.mil-menu-frame.mil-active {
    display: block !important;
    opacity: 1;
    visibility: visible;
}
.mil-logo img {
    height: 40px;
    max-width: 100%;
    object-fit: contain;
  }
    .mil-back-to-top a {
  color: #fff; /* texte blanc */
  background-color: #ff9900; /* orange de ton thème */
  padding: 8px 14px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.mil-back-to-top a:hover {
  background-color: #e58200;
}
