<div 
    #menuFrame
    class="mil-menu-frame mil-menu" 
    [class.mil-active]="isMenuOpen" 
    (click)="closeMenu()"
    id="menu">

    <!-- Frame Clone -->
    <!--<div class="mil-frame-top">
        <a routerLink="/" class="mil-logo">A.</a>
        <button #menuBtn class="mil-menu-btn" 
                (click)="toggleMenu(); $event.stopPropagation()">
            <span></span>
        </button>
    </div>-->

    <!-- Menu Content -->
    <div class="container">
        <div class="mil-menu-content">
            <div class="row">
                <div class="col-xl-5">

                    <nav class="mil-main-menu" id="swupMenu">
                        <ul>
                            <li class="mil-has-children">
                                <a href="#" class="mil-submenu-link" (click)="toggleSubMenu('homepage'); $event.preventDefault(); $event.stopPropagation()">Homepage</a>
                                <ul class="mil-submenu" [class.mil-active]="isSubMenuActive('homepage')">
                                    <li><a routerLink="/" data-swup-preload>Landing page</a></li>
                                    <li><a routerLink="/" data-swup-preload>Personal</a></li>
                                    <li><a routerLink="/gallery">Portfolio slider</a></li>
                                </ul>
                            </li>

                            <li class="mil-has-children">
                                <a href="#" class="mil-submenu-link" (click)="toggleSubMenu('portfolio'); $event.preventDefault(); $event.stopPropagation()">Portfolio</a>
                                <ul class="mil-submenu" [class.mil-active]="isSubMenuActive('portfolio')">
                                    <li><a routerLink="/portfolio-1" data-swup-preload>Grid type 1</a></li>
                                    <li><a routerLink="/portfolio-2" data-swup-preload>Grid type 2</a></li>
                                    <li><a routerLink="/portfolio-3" data-swup-preload>Slider</a></li>
                                </ul>
                            </li>

                            <li class="mil-has-children">
                                <a href="#" class="mil-submenu-link" (click)="toggleSubMenu('services'); $event.preventDefault(); $event.stopPropagation()">Services</a>
                                <ul class="mil-submenu" [class.mil-active]="isSubMenuActive('services')">
                                    <li><a routerLink="/services" data-swup-preload>Services List</a></li>
                                    <li><a routerLink="/service" data-swup-preload>Single service</a></li>
                                </ul>
                            </li>

                            <li class="mil-has-children">
                                <a href="#" class="mil-submenu-link" (click)="toggleSubMenu('newsletter'); $event.preventDefault(); $event.stopPropagation()">Newsletter</a>
                                <ul class="mil-submenu" [class.mil-active]="isSubMenuActive('newsletter')">
                                    <li><a routerLink="/blog" data-swup-preload>Blog List</a></li>
                                    <li><a routerLink="/publication" data-swup-preload>Publication</a></li>
                                </ul>
                            </li>

                            <li class="mil-has-children">
                                <a href="#" class="mil-submenu-link" (click)="toggleSubMenu('other'); $event.preventDefault(); $event.stopPropagation()">Other pages</a>
                                <ul class="mil-submenu" [class.mil-active]="isSubMenuActive('other')">
                                    <li><a routerLink="/team" data-swup-preload>Team</a></li>
                                    <li><a routerLink="/contact" data-swup-preload>Contact</a></li>
                                    <li><a href="404.html" data-swup-preload>404</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>

                </div>
                <div class="col-xl-7">

                    <div class="mil-menu-right-frame">
                        <div class="mil-animation-in">
                            <div class="mil-animation-frame">
                                <div class="mil-animation mil-position-1 mil-scale" data-value-1="2" data-value-2="2"></div>
                            </div>
                        </div>

                        <div class="mil-menu-right">
                            <div class="row">
                                <div class="col-lg-8 mil-mb-60">
                                    <h6 class="mil-muted mil-mb-30">Projects</h6>
                                    <ul class="mil-menu-list">
                                        <li><a routerLink="/project-1" class="mil-light-soft">Interior design studio</a></li>
                                        <li><a routerLink="/project-2" class="mil-light-soft">Home Security Camera</a></li>
                                        <li><a routerLink="/project-3" class="mil-light-soft">Kemia Honest Skincare</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 mil-mb-60">
                                    <h6 class="mil-muted mil-mb-30">Useful links</h6>
                                    <ul class="mil-menu-list">
                                        <li><a href="#." class="mil-light-soft">Privacy Policy</a></li>
                                        <li><a href="#." class="mil-light-soft">Terms and conditions</a></li>
                                        <li><a href="#." class="mil-light-soft">Careers</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="mil-divider mil-mb-60"></div>

                            <div class="row justify-content-between">
                                <div class="col-lg-4 mil-mb-60">
                                    <h6 class="mil-muted mil-mb-30">Canada</h6>
                                    <p class="mil-light-soft mil-up">
                                        71 South Los Carneros Road, California 
                                        <span class="mil-no-wrap">+51 174 705 812</span>
                                    </p>
                                </div>
                                <div class="col-lg-4 mil-mb-60">
                                    <h6 class="mil-muted mil-mb-30">Germany</h6>
                                    <p class="mil-light-soft">
                                        Leehove 40, 2678 MC De Lier, Netherlands 
                                        <span class="mil-no-wrap">+31 174 705 811</span>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
