<!-- banner -->
<div class="mil-inner-banner">
    <div class="mil-banner-content mil-up">
        <div class="mil-animation-frame">
            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
        </div>
        <div class="container">
            <ul class="mil-breadcrumbs mil-mb-60">
                <li><a routerLink="/" routerLinkActive="/">Homepage</a></li>
                <li><a href="portfolio-2.html">Portfolio</a></li>
            </ul>
            <h2 class="mil-mb-60"> Distinctions et <br>  <span class="mil-mb-60">  récompenses </span></h2>
            <a href="#portfolio" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                <span></span>
            </a>
        </div>
    </div>
</div>
<!-- banner end -->