<!-- PORTFOLIO (statique) -->
<section class="mil-portfolio-slider-frame full-width-carousel">
  <div class="carousel-container">
    <!-- Carousel -->
    <owl-carousel-o
      #owlCarousel
      [options]="customOptions"
      (translated)="onTranslated($event)"
    >
      <ng-container *ngFor="let project of projects">
        <ng-template carouselSlide>
          <div class="mil-portfolio-item text-center">
            <img
              [src]="project.image_url"
              [alt]="project.name"
              class="project-image"
            />
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>

    <!-- Infos sous le carousel -->
    <div class="mil-project-info">
      <div class="mil-project-meta">
        <h5 class="mil-title">{{ currentProjectName }}</h5>
      </div>

      <a href="/main/services" class="mil-view-btn">
        Nos services <span class="arrow-circle">→</span>
      </a>

      <!-- Pagination / navigation -->
      <div class="mil-pagination-style">
        <span class="page-count"
          >{{ activeSlideIndex }} / {{ totalSlides }}</span
        >
        <button class="nav-arrow black" (click)="owlCarousel.prev()">←</button>
        <button class="nav-arrow black" (click)="owlCarousel.next()">→</button>
      </div>
    </div>
  </div>
</section>
