<section id="contact">
    <div class="container mil-p-120-90">
      <h3 class="mil-center mil-up mil-mb-120">Discutons <span class="mil-thin">Ensemble</span></h3>
      <form class="row align-items-center">
        <div class="col-lg-6 mil-up">
          <input type="text" placeholder="Quel est votre nom ?" />
        </div>
        <div class="col-lg-6 mil-up">
          <input type="email" placeholder="Votre adresse e-mail" />
        </div>
        <div class="col-lg-12 mil-up">
          <textarea placeholder="Expliquez votre projet ou votre besoin"></textarea>
        </div>
        <div class="col-lg-8">
          <p class="mil-up mil-mb-30">
            <span class="mil-accent">*</span> Nous nous engageons à ne pas divulguer vos informations personnelles à des tiers.
          </p>
        </div>
        <div class="col-lg-4">
          <div class="mil-adaptive-right mil-up mil-mb-30">
            <button type="submit" class="mil-button mil-arrow-place">
              <span>Envoyer le message</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  
  