<!-- contact form -->
<section id="contact">
    <div class="container mil-p-120-90">
        <h3 class="mil-center mil-up mil-mb-120">Let's <span class="mil-thin">Talk</span></h3>
        <form class="row align-items-center">
            <div class="col-lg-6 mil-up">
                <input type="text" placeholder="What's your name">
            </div>
            <div class="col-lg-6 mil-up">
                <input type="email" placeholder="Your Email">
            </div>
            <div class="col-lg-12 mil-up">
                <textarea placeholder="Tell us about our project"></textarea>
            </div>
            <div class="col-lg-8">
                <p class="mil-up mil-mb-30"><span class="mil-accent">*</span> We promise not to disclose your personal information to third parties.</p>
            </div>
            <div class="col-lg-4">
                <div class="mil-adaptive-right mil-up mil-mb-30">
                    <button type="submit" class="mil-button mil-arrow-place">
                        <span>Send message</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- contact form end -->