      <!-- content -->
<div class="mil-content">
    <div id="swupMain" class="mil-main-transition">

        <!-- banner -->
        <div id="swup">
        <app-banner></app-banner>
        </div>
        <!-- banner end -->

        <!-- about -->
        <div id="swup">
        <app-about></app-about>
        </div>
        <!-- about end -->

        <!-- services -->
        <div id="swup">
        <app-services></app-services>
        </div>
        <!-- services end -->

        <!-- team -->
        <div id="swup">
        <app-team></app-team>
        </div>
        <!-- team end -->

        <!-- reviews -->
        <div id="swup">
       <app-reviews></app-reviews>
       </div>
        <!-- reviews end -->

        <!-- partners -->
        <div id="swup">
        <app-partners></app-partners>
        </div>
        <!-- partners end -->

        <!-- blog -->
        <div id="swup">
        <app-blog></app-blog>
        </div>
        <!-- blog end -->

        <!-- footer -->
        <div id="swup">
        <app-footer></app-footer>
        </div>
        <!-- footer end -->

        <!-- hidden elements -->
        <div id="swup">
        <app-hidden-elements></app-hidden-elements>
        </div>
        <!-- hidden elements end -->

    </div>
</div>
<!-- content -->