<div class="dashboard-container">
    <div class="sidebar">
      <div class="sidebar-header">
        <img [src]="getProfilePictureUrl()" class="avatar" alt="Photo dentiste" />
        <h2>{{ userData.firstname }} {{ userData.name }}</h2>
      </div>
  
      <ul class="sidebar-nav">
        <li routerLink="/dashboard-dentiste/rendez-vous" routerLinkActive="active">
          <span class="icon">📅</span>
          <span class="menu-text">Gérer les Rendez-vous</span>
        </li>
        <li routerLink="/dashboard-dentiste/accueil-patients" routerLinkActive="active">
          <span class="icon">🧑‍🤝‍🧑</span>
          <span class="menu-text">Accueil des Patients</span>
        </li>
        <li routerLink="/dashboard-dentiste/availability" routerLinkActive="active">
          <span class="icon">📆</span>
          <span class="menu-text">Disponibilités</span>
        </li>
        <li routerLink="/dashboard-dentiste/liste-patients" routerLinkActive="active">📁 Dossiers</li>
      
        <li routerLink="/dashboard-dentiste/mon-profil" routerLinkActive="active">
          <span class="icon">👤</span>
          <span class="menu-text">Mon Profil</span>
        </li>
        <li routerLink="/dashboard-dentiste/history-global" routerLinkActive="active">
          <span class="icon">📜</span>
          <span class="menu-text">Historique</span>
        </li>
      </ul>

      <div class="logout-section">
        <li  title="Déconnexion">
          <span class="icon">🔓</span>
          <span class="menu-text">Se déconnecter</span>
        </li>
      </div>
    </div>
  
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>