<!-- wrapper -->
<div class="mil-wrapper" id="top">
  <div class="vertical-site-label">Contact</div>

  <app-cursor></app-cursor>

  <app-scrollbar></app-scrollbar>
  <app-curtain></app-curtain>
  <div class="mil-content">
    <div class="mil-main-transition">
      <!-- banner -->
      <app-banner-contact></app-banner-contact>
      <!-- banner end -->

      <!-- map -->
      <app-map></app-map>
      <!-- map end -->

      <!-- contact form -->
      <app-contact-form></app-contact-form>
      <!-- contact form end -->

      <!-- footer -->
      <app-footer></app-footer>
      <!-- footer end -->

      <!-- hidden elements -->
      <app-hidden-elements></app-hidden-elements>
      <!-- hidden elements end -->
    </div>
  </div>
  <!-- content -->
</div>
<!-- wrapper end -->
