<!-- banner -->
<div class="mil-inner-banner">
  <!-- ✅ Animation custom à droite
    <div class="mil-floating-cube-wrapper">
        <div class="mil-floating-cube">
          <div class="face front"></div>
          <div class="face right"></div>
          <div class="face top"></div>
        </div>
      </div> -->

  <div class="mil-animation-frame">
    <div
      class="mil-animation mil-position-4 mil-dark mil-scale"
      data-value-1="6"
      data-value-2="1.4"
    ></div>
  </div>
  <div class="mil-banner-content mil-up">
    <div class="container">
      <ul class="mil-breadcrumbs mil-mb-60">
        <li><a href="/main">Accueil</a></li>
        <li><a href="/main/services">Parcours</a></li>
        <li><a href="/">Formation</a></li>
      </ul>
      <h1 class="mil-mb-60 title-c">
        Formations
        <span class="mil-thin"
          >et<br />
          parcours
        </span>
        académique
      </h1>
      <a
        href="#service"
        class="mil-link mil-dark mil-arrow-place mil-down-arrow"
      >
        <span></span>
      </a>
    </div>
  </div>
</div>
<!-- banner end -->
