<section id="service">
  <div class="container mil-p-120-90">
    <div class="row justify-content-between">

      <!-- Colonne gauche -->
      <div class="col-lg-4 mil-relative mil-mb-90">
        <h2 class="mil-up mil-mb-30" style="font-size: 50px;">
          Parcours <br /><span class="mil-thin">académique</span>
        </h2>
        <p class="mil-up mil-mb-30">
          Dr Rabab Hraimi a construit un parcours académique solide, mêlant formation en Tunisie
          et spécialisation en France, pour offrir à ses patients un savoir-faire à la fois local et international.
        </p>
      </div>

      <!-- Colonne droite -->
      <div class="col-lg-6">
        <div *ngFor="let degree of degrees" class="mil-accordion-group mil-up">

          <!-- En-tête accordéon -->
          <div class="mil-accordion-menu" (click)="toggle(degree)">
            <p>
              <span class="mil-accordion-head">{{ degree.title }}</span><br />
              <span class="mil-up mil-mb-30">
                {{ degree.subtitle }} | {{ degree.start_year }} – {{ degree.end_year }}
              </span>
            </p>
            <div class="mil-symbol mil-h3">
              <div class="mil-plus"  *ngIf="!degree.show">+</div>
              <div class="mil-minus" *ngIf="degree.show">−</div>
            </div>
          </div>

          <!-- Contenu accordéon -->
          <div class="mil-accordion-content" *ngIf="degree.show">
            <p class="mil-mb-30">
              DESCRIPTION : {{ degree.description }}
            </p>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
