<!-- service -->
<section id="service">
    <div class="container mil-p-120-90">
        <div class="row justify-content-between">
            <div class="col-lg-4 mil-relative mil-mb-90">

                <h2 class="mil-up mil-mb-60"> Parcours académique </h2>
                <p class="mil-up mil-mb-30"></p>
                <div class="mil-up">
                    
                </div>

            </div>
            <div class="col-lg-6">

                <div class="mil-accordion-group mil-up">
                    <div class="mil-accordion-menu">

                        <p >
                            <span class="mil-accordion-head">Docteur en
                                Médecine Dentaire
                                <br>Faculté de
                                Médecine Dentaire,
                                <br>Monastir | 2004 -
                                2009</span> <br>
                            <span class="mil-up mil-mb-30">Diplôme en
                                médecine dentaire,
                                où Dr. Hraimi<br> a
                                acquis les bases
                                solides de la
                                dentisterie.
                                </span>
                        </p>

                        <div class="mil-symbol mil-h3">
                            <div class="mil-plus">+</div>
                            <div class="mil-minus">-</div>
                        </div>

                    </div>
                    <div class="mil-accordion-content">
                        <p class="mil-mb-30">A UX audit is a service that evaluates the user experience (UX) of a website. It involves analyzing the website's design, functionality, and content to identify areas of improvement that can enhance the user's overall experience.</p>

                        <p class="mil-mb-30">During a UX audit, a team of UX experts will conduct a thorough review of the website and provide a comprehensive report that outlines specific recommendations for improving the website's usability, accessibility, and overall user experience.</p>

                        <p class="mil-mb-30">The audit may cover various aspects of the website, such as navigation, layout, visual design, content structure, and mobile responsiveness. The goal is to identify any pain points or obstacles that users may encounter while browsing the website and provide actionable recommendations to improve their experience.</p>

                        <p class="mil-mb-30">In summary, a UX audit can help website owners identify areas of improvement that can enhance their website's user experience and increase user engagement and satisfaction.</p>
                    </div>
                </div>

                <div class="mil-accordion-group mil-up">
                    <div class="mil-accordion-menu">

                        <p >
                            <span class="mil-accordion-head">Docteur en
                                Degree of
                                Implantology and
                                
                                <br>Maxillofacial 2018
                                </span> <br>
                            <span class="mil-up mil-mb-30">Surgery University of
                                Toulouse III – Paul
                                Sebatier- Toulouse<br> 
                                </span>
                        </p>

                        <div class="mil-symbol mil-h3">
                            <div class="mil-plus">+</div>
                            <div class="mil-minus">-</div>
                        </div>

                    </div>
                    <div class="mil-accordion-content">
                        <p class="mil-mb-30">Design thinking is a problem-solving approach that emphasizes empathy, creativity, and collaboration. It involves understanding the needs and perspectives of users, identifying and defining the problem, generating multiple possible solutions, prototyping and testing those solutions, and iterating based on feedback.</p>
                        <p class="mil-mb-30">Design thinking encourages a human-centered approach to innovation and is often used in fields such as product design, user experience (UX) design, and business strategy to create user-centric and innovative solutions. It promotes a mindset that embraces experimentation, iteration, and continuous learning throughout the design process.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- service end -->