<!-- call to action -->
<section class="mil-soft-bg">
    <div class="container mil-p-120-120">
        <div class="row">
            <div class="col-lg-10">

                <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">Looking to make your mark? We'll help you turn <br> your project into a success story.</span>

            </div>
        </div>
        <div class="mil-center">
            <h2 class="mil-up mil-mb-60">Stay up-to-date <span class="mil-thin">with the</span><br> latest news by <span class="mil-thin">subscribing</span><br> to our <span class="mil-thin">newsletter!</span></h2>
            <div class="row justify-content-center mil-up">
                <div class="col-lg-4">
                    <form class="mil-subscribe-form mil-subscribe-form-2 mil-up">
                        <input type="text" placeholder="Entrer votre email">
                        <button type="submit" class="mil-button mil-icon-button-sm mil-arrow-place"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- call to action end -->