<!-- preloader -->
<div class="mil-preloader">
    <div class="mil-preloader-animation">
        <div class="mil-pos-abs mil-animation-1">
            <p class="mil-h3 mil-muted mil-thin">Cabinet</p>
            <p class="mil-h3 mil-muted">Docteur</p>
            <p class="mil-h3 mil-muted mil-thin">Rabeb Hraimi</p>
        </div>
        <div class="mil-pos-abs mil-animation-2">
            <div class="mil-reveal-frame">
                <p class="mil-reveal-box"></p>
                <p class="mil-h3 mil-muted mil-thin">ashley.com</p>
            </div>
        </div>
    </div>
</div>
<!-- preloader end -->