   <!-- wrapper -->
   <div class="mil-wrapper" id="top">

    <!-- cursor -->
    <app-cursor></app-cursor>
    <!-- cursor end -->

    <!-- preloader -->
    <!-- preloader end -->

    <!-- scrollbar progress -->
    <app-scrollbar></app-scrollbar>
    <!-- scrollbar progress end -->

    <!-- menu -->
     
    <!-- menu -->

    <!-- curtain -->
     <app-curtain></app-curtain>
    <!-- curtain end -->

    <!-- frame -->
     
    <!-- frame end -->  

  <!-- content -->
  <div class="mil-content">
      <div  class="mil-main-transition">

          <!-- banner -->
          <app-banner-pub2></app-banner-pub2>
          <!-- banner end -->

          <!-- publication -->
          <app-pub2></app-pub2>
          <!-- publication end -->

          <!-- similar -->
          <app-similar2></app-similar2>
          <!-- similar end -->

          <!-- footer -->
          <app-footer></app-footer>
          <!-- footer end -->

          <!-- hidden elements -->
          <app-hidden-elements></app-hidden-elements>
          <!-- hidden elements end -->
          

      </div>
  </div>
  <!-- content -->
</div>
<!-- wrapper end -->

